@import "reset";
@import "variables";
@import "mixins";
.aa-header {
    background-image: url(../images/home-image.jpg);
    background-size: cover;
    position: relative;
    min-height: 600px;
}

.nav-link {
    font-size: 12px;
    opacity: 0.8;
}

.navbar-brand {
    font-size: 24px;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

.down-btn {
    border: 2px solid white;
    font-size: 12px;
    opacity: 1;
}

.awesome-h1 {
    font-size: 50px;
    line-height: 55px;
    font-family: "Dosis", Helvetica, Arial, sans-serif;
}

.awesome-p {
    font-size: 15px;
}

.span-p {
    font-size: 14px;
}

@media only screen and (min-width: 1024px) {}

@media only screen and (min-width: 769px) and (max-width: 1024px) {}

@media only screen and (min-width: 569px) and (max-width: 768px) {}

@media only screen and (min-width: 320px) and (max-width: 568px) {
    .awesome-h1 {
        font-size: 30px;
        line-height: 40px;
    }
}