doctype html
head
  title Title
  // Required meta tags
  meta(charset='utf-8')
  meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
  // Bootstrap CSS
  link(rel='stylesheet' href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  link(rel="stylesheet" href="css/style.css")
  link(rel="stylesheet" href="css/reset.css")
  link(rel="stylesheet" href="css/dosis.css")
  body.bg-color
      header.nav-head(class="w-100")
        .aa-header(class="w-100")
            nav.navbar(class="navbar-expand-md py-4")
              .container
                 .logo-section(class="d-flex align-items-center")
                     img.logo(src="images/logo.png" class="img-fluid")
                     a.navbar-brand(class="text-uppercase text-white font-weight-bold px-md-3 px-5") awesome app
                 .collapse(class="navbar-collapse")
                      ul.navbar-nav(class="ml-auto")
                         li.nav-item
                           a.nav-link(href="#" class="text-uppercase text-white font-weight-bold px-3") Home
                         li.nav-item
                           a.nav-link(href="#" class="text-uppercase text-white font-weight-bold px-3") features
                         li.nav-item
                           a.nav-link(href="#" class="text-uppercase text-white font-weight-bold px-3") pricing
                         li.nav-item
                          a(class="btn btn-outline-neutral rounded-pill text-white font-weight-bold down-btn px-4 py-2 ml-3" href="#download" role="button")   Download Now
                  











// Optional JavaScript
// jQuery first, then Popper.js, then Bootstrap JS
script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
